In [23]:
import json

import requests
import pandas as pd

In [2]:
test_data = {'field1': [1, 2, 3], 'field2': [3, 2, 1]}

In [24]:
print(json.dumps(test_data))

{"field1": [1, 2, 3], "field2": [3, 2, 1]}

In [20]:
URL = 'http://localhost:8080'

headers = {
    'Content-Type': 'application/json'
}

response = requests.post(
    f'{URL}/predict',
    headers=headers,
    json=test_data,
    verify=False
)

In [21]:
print(response.json())

{'columns': ['field1', 'field2'], 'data': [['MQ==', 'Mw=='], ['Mg==', 'Mg=='], ['Mw==', 'MQ==']], 'index': [0, 1, 2]}

In [22]:
pd.DataFrame(**response.json())

  field1 field2
0   MQ==   Mw==
1   Mg==   Mg==
2   Mw==   MQ==